[submodule "vim/vim.symlink/bundle/solarized"]
	path = vim/vim.symlink/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/AutoComplPop"]
	path = vim/vim.symlink/bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "vim/vim.symlink/bundle/taglist.vim"]
	path = vim/vim.symlink/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git://github.com/minghan/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/tcomment"]
	path = vim/vim.symlink/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundle/scala-vim"]
	path = vim/vim.symlink/bundle/scala-vim
	url = git://github.com/dwink/scala-vim.git
